<h1>
  <%= @restaurant.place %>
</h1>

<div>
  <div>
    <a href="/restaurants">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_restaurant_form/<%= @restaurant.id %>">
      Edit restaurant
    </a>
  </div>

  <div>
    <a href="/delete_restaurant/<%= @restaurant.id %>">
      Delete restaurant
    </a>
  </div>
  
  <div>
    <a href="/new_item_form">
      Add an item?
    </a>
  </div>
  
</div>

<dl>
  <dt>
    Place
  </dt>
  <dd>
    <%= @restaurant.place %>
  </dd>

  <dt>
    Website
  </dt>
  <dd>
    <%= @restaurant.website %>
  </dd>

  <dt>
    Cuisine
  </dt>
  <dd>
    <%= @restaurant.cuisine %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@restaurant.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@restaurant.updated_at) %> ago
  </dd>
</dl>

<table>
  <tr>
    <th>
      ID
    </th>


    <th>
      Dish
    </th>

    <th>
      Description
    </th>

    <th>
      Vegetarian
    </th>

    <th>
      Vegan
    </th>

    <th>
      Glutenfree
    </th>

    <th>
      Size
    </th>

    <th>
      Price
    </th>

    <th>
      Number of reviews
    </th>
   
    <th>
      Average review
    </th>



    <th>
      Link to all details & reviews
    </th>
  </tr>

  <% Item.where("restaurant_id = ?", @restaurant.id).each do |item| %>
  <tr>
    <td>
      <%= item.id %>
    </td>



    <td>
      <%= item.dish %>
    </td>

    <td>
      <%= item.description %>
    </td>

    <td>
      <% if item.vegetarian %>
        Yes
      <% else %>
        No
      <% end %>
      
    </td>

    <td>
      <% if item.vegan %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
      <% if item.glutenfree %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
      <%= item.size %>
    </td>

    <td>
      $<%= item.price %>
    </td>
    
    
    <td>
      <%= item.num_reviews %>
    </td>

    <td>
      <% if item.average_review==0 %>
      No reviews yet
      <% else %>
      <%= item.average_review %>
      <% end %>
    </td>
    
    
    <td>
      <a href="/items/<%= item.id %>">
        Show details
    </a>
    
    
    
<% end %>
  </tr>