<h1>
  All Restaurants <%=Emoji.find_by_alias("yum").raw%>
</h1>
<h2>These are all of the restaurants that have been added for reviews.</h2>

<a href="/new_restaurant_form">
  Add a new restaurant
</a>

<hr>

<table>
  <tr>

    <th>
      Place
    </th>

    <th>
      Website
    </th>

    <th>
      Cuisine
    </th>

    <th>
      Average review
    </th>

    <th>
      Number of reviews
    </th>

    <th>
    </th>
  </tr>

  <% @restaurants.each do |restaurant| %>
  <tr>

    <td>
      <%= restaurant.place %>
    </td>

    <td>
      <%= restaurant.website %>
    </td>

    <td>
      <%= restaurant.cuisine %>
    </td>

    <td>
      <%= restaurant.average_review.round(2) %> 
    </td>

    <td>
      <%= restaurant.num_reviews %> 
    </td>

    <td>
      <a href="/restaurants/<%= restaurant.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
