<h1>
  <%= @item.dish %> details
</h1>

<div>
  <div>
    <a href="/items">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_item_form/<%= @item.id %>">
      Edit item
    </a>
  </div>

  <div>
    <a href="/insert_favorite_record">
      Favorite item
    </a>
  </div>

  <div>
    <a href="/delete_item/<%= @item.id %>">
      Delete item
    </a>
  </div>
</div>

<dl>
  <dt>
    Restaurant
  </dt>
  <dd>
    <%= Restaurant.where("id = ?", @item.restaurant_id).first.place   %>
  </dd>

  <dt>
    Dish
  </dt>
  <dd>
    <%= @item.dish %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @item.description %>
  </dd>

  <dt>
    Vegetarian
  </dt>
  <dd>
      <% if @item.vegetarian %>
        Yes
      <% else %>
        No
      <% end %>
  </dd>

  <dt>
    Vegan
  </dt>
  <dd>
      <% if @item.vegan %>
        Yes
      <% else %>
        No
      <% end %>
  </dd>

  <dt>
    Glutenfree
  </dt>
  <dd>
    <% if @item.glutenfree %>
        Yes
    <% else %>
        No
    <% end %>
  </dd>

  <dt>
    Size
  </dt>
  <dd>
    <%= @item.size %>
  </dd>

  <dt>
    Price
  </dt>
  <dd>
    $<%= @item.price %>
  </dd>
</dl>


<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Item
    </th>

    <th>
      User
    </th>

    <th>
      Rating
    </th>

    <th>
      Review
    </th>

    <th>
      Orderagain
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% Review.where("item_id = ?", @item.id).each do |review| %>
  <tr>
    <td>
      <%= review.id %>
    </td>

    <td>
      <%= review.item_id %>
    </td>

    <td>
      <%= review.user_id %>
    </td>

    <td>
      <%= review.rating %>
    </td>

    <td>
      <%= review.review %>
    </td>

    <td>
      <%= review.orderagain %>
    </td>

    <td>
      <%= time_ago_in_words(review.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(review.updated_at) %> ago
    </td>

    <td>
      <a href="/reviews/<%= review.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>