<h1>
  All Items
</h1>

<h2>
  These are all the items that have been ordered by ActiveCampaigners.
</h2>

<a href="/new_item_form"> 
  Add a new item
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Restaurant
    </th>

    <th>
      Dish
    </th>
    
    <th>
      Size
    </th>

    <th>
      Description
    </th>

    <th>
      Number of reviews
    </th>

    <th>
      Average review
    </th>


    <th>
      Vegetarian?
    </th>

    <th>
      Vegan?
    </th>

    <th>
      Gluten-free?
    </th>


    <th>
      Price
    </th>

    <th>
      Link to all details & reviews
    </th>

    <th>
      
    </th>


  </tr>

  <% @items.each do |item| %>
  <tr>
    <td>
      <%= item.id %>
    </td>

    <td>
      <%= item.restaurant_from %>
    </td>

    <td>
      <%= item.dish %>
    </td>

    <td>
      <%= item.size %>
    </td>

    <td>
      <%= item.description %>
    </td>
    
    <td>
      <%= item.num_reviews %>
    </td>

    <td>
      <% if item.average_review==0 %>
      No reviews yet
      <% else %>
       <a href= "/items/<%= item.id %>">
        <%= item.average_review %> - see all
      <% end %>
    </td>

    <td>
      <% if item.vegetarian %>
        <%= Emoji.find_by_alias("heavy_check_mark").raw %>
      <% else %>
        <%= Emoji.find_by_alias("x").raw %>
      <% end %>
      
    </td>

    <td>

      <% if item.vegan %>
        <%= Emoji.find_by_alias("heavy_check_mark").raw %>
      <% else %>
        <%= Emoji.find_by_alias("x").raw %>
      <% end %>
    </td>

    <td>
      <% if item.glutenfree %>
        <%= Emoji.find_by_alias("heavy_check_mark").raw %>
      <% else %>
        <%= Emoji.find_by_alias("x").raw %>
      <% end %>
    </td>


    <td>
      $<%= item.price %>
    </td>

    <td>
      <a href= "/items/<%= item.id %>">
        See reviews
    </td>

    <td>
      <a href= "/new_review_form">
        Add a review
    </td>




  </tr>
  <% end %>
</table>
