<h1>
  Add a new review
</h1>

<hr>

<%= render("review_templates/validation_failures.html.erb") %>

<form action="/insert_review_record" method="post" enctype="multipart/form-data">
  
  <div>
  <label for="item_dropdown">
    Item
  </label>
      <select id="item_dropdown" name="item_id" id="item_id" >
      <% Item.all.order({ :dish => :asc }).each do |a_item| %>
        <option value="<%= a_item.id %>">
          <%= a_item.dish %>
        </option>
      <% end %>
  </select>
  </div>
  
  <div>
  <label for="rating">
      <p>Default range slider:</p>
    <input type="range" min="1" max="5" name="rating" id="rating" value="<%=@review.rating%>" >
  </label>
  </div>
  
  <div>
    <label for="review">
      Review
    </label>
    <textarea type="text" cols="40" rows="5" id="review" name="review" value="<%= @review.review %>"></textarea>
  </div>

  <div>
    <label for="orderagain">
      Would you order it again?
    </label>
    <input id="orderagain" name="orderagain" type="checkbox" <%= "checked" if @review.orderagain %>>

<div>
  <label for="photo">
    Upload a photo?
  </label>
  <input type="file" id="photo" name="photo" class="form-control">
</div>

  </div>
<br>
<div>
  <button type="button" class= "btn btn-primary btn-lg btn-block">
    Create review
  </button>
</div>
</form>



<hr>

<a href="/reviews">
  Go back
</a>
