<h1>
  Review #<%= @review.id %> details
</h1>

<div>
  <div>
    <a href="/reviews">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_review_form/<%= @review.id %>">
      Edit review
    </a>
  </div>

  <div>
    <a href="/delete_review/<%= @review.id %>">
      Delete review
    </a>
  </div>
</div>

<dl>
  <dt>
    Item
  </dt>
  <dd>
    <%= @review.item_id %>
  </dd>

  <dt>
    User
  </dt>
  <dd>
    <%= @review.user_id %>
  </dd>

  <dt>
    Rating
  </dt>
  <dd>
    <% num = @review.rating.to_i %>
    <% 1.upto num do |v|  %>
      <%= Emoji.find_by_alias("taco").raw %>
    <% end %>
  </dd>

  <dt>
    Review
  </dt>
  <dd>
    <%= @review.review %>
  </dd>

  <dt>
    Order again
  </dt>
  <dd>
      <% if @review.orderagain %>
        <%= Emoji.find_by_alias("heavy_check_mark").raw %>
      <% else %>
        <%= Emoji.find_by_alias("x").raw %>
      <% end %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.updated_at) %> ago
  </dd>
</dl>

