<h1>
  All Reviews
</h1>

<h2>
  This is a list of all the reviews ActiveCampaigners has submitted.
</h2>

<a href="/new_review_form">
  Add a review
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Item
    </th>

    <th>
      User
    </th>

    <th>
      Rating
    </th>

    <th>
      Review
    </th>

    <th>
      Order again?
    </th>


    <th>
    </th>
  </tr>

  <% @reviews.each do |review| %>
  <tr>
    <td>
      <%= review.id %>
    </td>

    <td>
      <%= Item.where("id=?", review.item_id).first.dish %>
    </td>

    <td>
      <%= User.where("id=?", review.user_id).first.username %>
    </td>

    <td>
      <%= review.rating %>
    </td>

    <td>
      <%= review.review[0..15] %> ...
    </td>

    <td>
      <% if review.orderagain %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
      <a href="/reviews/<%= review.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
